<head>
    <base href="/">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/tailwind.css">
    <link rel="icon" href="logo.png" type="image/x-icon">
</head>
<div class="text-center p-4">
    <a href="/">
        <img src="logo.png" style="max-height: 200px; max-width: 250px;">
    </a>
</div>
