<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/tailwind.css">
    <title>404 ERROR!</title>
</head>
<body class="bg-gray-100 min-h-screen flex items-center justify-center">
    <div class="bg-white p-8 rounded shadow-md">
        <h1 class="text-5xl font-bold mb-4">404 ERROR!</h1>
        <p class="text-blue-700 text-5xl">The page you're looking for could not be found.</p>
    </div>
</body>
</html>
